/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: source-sans-pro, sans-serif;
}

.topcoat-list {
  .topcoat-list__item {
    cursor: pointer;
    
    .edit-bar {
      float: right;
    }
    
  }
}

#input_add {
  width: 80%;
}

#button_add {
  width: 18%;
  margin-left: 1%;
}