/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: source-sans-pro, sans-serif;
}

.topcoat-list {
  .topcoat-list__item {
    cursor: pointer;
    font-size: 1.5rem;
    .topcoat-checkbox {
      line-height: 3rem;
      input[type=checkbox], .topcoat-checkbox__checkmark {
        margin-top: 0.5rem;
      }
    }
    .edit-bar {
      float: right;
    }
    .title {
      margin-left: 1rem;
      line-height: 3rem;
      display: inline-block;
    }
  }
}

@import "partials/buttons";